@import "reset";
@import "vars";
@import "grid";
@import "base";

// ------------------------

.flex {
    @extend %flex;
}
.logo{
    padding: 0 20px;
}
.header {
    text-transform: uppercase;
    padding: 70px 0;
    li{
        padding: 0 20px;
    }
     a{
    
        span {
        
            color: #9295A1;
            font-size: 20px;
            margin-left: 10px;
            padding: 5px 10px;
            border-left: 1px solid #9295A1;
            
        
        }
        strong {
            color: #ffffff;
            font-size: 28px;
            font-weight: 700;
            font-family: 'Raleway', sans-serif;
        }
    }
    

    .ham {
        color: white;
        font-size: 20px;
        z-index: 10;
        display: none;
        
    }

    #toggle {
        display: none;
    }
    .menu-links {
        // width: 100%;
        // height: 100%;
        // display: none;
        // position: absolute;
        // top: 0%;
        // right: 0%;  
        // text-align: center;
        // background-color: rgba(rgb(20,237,229),0.2);
        
      
        a {
            width: 30%;
            color: #ffffff;
            font-size: 18px;
            
        }
    }
    .ham:checked ~ .menu-links {
        display: inline-block;

    }
}

.hero-article {
    @extend %flex;
    align-items: stretch;
}

h2 {
    .services & {
        color: #434B56;
        padding-bottom: 20px;
    }
    .forth-section &{
        color: white;
    }
    .fifth-section &{
        font-size: 24px;
        font-weight: 500;
        color: #E4EBF5;;
        padding-bottom: 20px;
        @media all and (max-width: 600px)
        {
            font-size: 20px;
        }

    }
}

h3 {
    .services & {
        color: #434B56;
        padding-bottom: 20px;
    }

}

h4 {
    .services &{
        color: #ACAFB4;
    }

}

p {
    .hero & {
        color: #ffffff;
        
    }
    .services & {
        color: #ACAFB4;
    }
    .forth-section &{
        color: white;
    }
   
}
.col {
    img {
        width: 100%;
        height: 100%;
    }
}
.col_img {
    img {
        width: 100%;
        height: 100%;
    }
}

.bg_1 {
    background-color: #4CABB1;   
}

.bg_2 {
    background-color: #69C7AC;
}
.row {
    color: #ffffff;
}

.services-article {
    background-color: #ffffff;
}
.services{

    .col-1-3:nth-child(2) {
        border:
        {
            left:1px solid #ACAFB4;
            right: 1px solid #ACAFB4;
        }
    }
    .circle{
        align-self: stretch;
    }
}
.col-1-4:nth-of-type(-n+3)
{
    border-right: 1px solid #ACAFB4;
}

.gallery-article {
    background-color: #FED586;
}

.gallery .fas { 
    font-size: 80px;
    color: #695C42;
    @media all and (max-width: 600px)
    {
        font-size: 40px;
    }
}

.secondary-article {
    background-color:#ffffff ;
}
.forth {
    background-color:#4CABB1 ;
}
.fifth { 
    background-color: #575B72;
}
.footer{
    background-color: #575B72;
}
.secondary-row {
    max-width: 1140px;
    box-shadow: 2px 2px 15px 8px #F5F5F5, -2px -2px 15px 8px #F5F5F5; 
    margin: 40px auto;
   img {
       width: 100%;
       height: 100%;
       
   }
}
.fifth-section{
    a {
        color: #E4EBF5;
        font-family: 'Raleway', sans-serif;
    }
    li{
        list-style-type: none;
        padding: 12px 0;
    }
    .col-1-3:nth-child(2) {
        border:
        {
            left:1px solid #E4EBF5;
            right: 1px solid #E4EBF5;
        }
    }
}
    
.footer{
    a {
        color: #ACAFB4;
        font-family: 'Raleway', sans-serif;
    }
    span{
        color: #ACAFB4;
        font-family: 'Raleway', sans-serif;
    }

    
    .fas{
        color: #ACAFB4;
    }
    
}
.small{
        text-align: center;
        font-size: 14px;
        color: #ACAFB4;
        background: #575B72;
}
.img-responsive{
    width: 100%;
    }
